@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply absolute top-[-99999px] left-[-99999px];
  }

  body {
    @apply flex flex-col items-center bg-[#ECF2F8] font-['Barlow_Semi_Condensed'];
  }
}
